* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 14px;
}
html, body {
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
}
.container {
    display: flex;
    border: 5px solid gold;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}
.navigation {
    display: flex;
    border: 5px solid black;
    background-color: lawngreen;
}
.navigation2 {
    display:flex;
    margin-left: auto;
}

.about {
    border: solid brown;
    padding: 5px;
    margin: 10px;
}
.store {
    border: solid brown;
    padding: 5px;
    margin: 10px;
}
.gmail {
    border: solid brown;
    padding: 5px;
    margin: 10px;
}
.images {
    border: solid brown;
    padding: 5px;
    margin: 10px;
}
.center-logo {
    border: 5px solid green;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
}
.main {
    border: 5px solid orange;
    background-color: rgb(92, 190, 190);
    display: flex;
    justify-content: center;
}

.footer {
    border: 5px solid magenta;
    background-color: lightslategrey;
    justify-content: center;
}
