* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 14px;
}
body {
    background-color: lightgoldenrodyellow;
}
.container {
    display: grid;
    gap: 10px;
    height: 100vh;
    width: 100vw;
}
.navigation {
    display: flex;
    flex-direction: row;
    background-color: lawngreen;
}
.navigation2 {
    display:flex;
    margin-left: auto;
}

.about {
    border: solid brown;
    padding: 5px;
    margin: 10px;
}
.store {
    border: solid brown;
    padding: 5px;
    margin: 10px;
}
.gmail {
    border: solid brown;
    padding: 5px;
    margin: 10px;
}
.images {
    border: solid brown;
    padding: 5px;
    margin: 10px;
}
.logo {
    background-color: lightcoral;
}
.main {
    background-color: rgb(92, 190, 190);
}
.footer {
    background-color: lightslategrey;
    grid-column: 1/-1;
}