* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 14px;
}

html, body {
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
}

.container {
    display: flex;
    border: 5px solid gold;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.container > .main {
    flex: 2;
}

.navigation {
    background-color: white;
    margin-bottom: auto;
    display: flex;
}

.navigation2 {
    display:flex;
    margin-left: auto;
}

.about {
    color: black; 
    padding: 5px;
    margin: 10px;
}

.store {
    color: black;   
    padding: 5px;
    margin: 10px;
}

.gmail {
    color: black;  
    padding: 5px;
    margin: 10px;
}

.images {
    color: black;
    padding: 5px;
    margin: 10px;
}

.app-tray-img {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    background-color: rgba(233, 230, 230, 0.74);
    padding: 5px;
    margin: 7px;    
}

.profile-img {
    border-radius: 30px;
    padding: 5px;
    margin: 3px;
}

.center-logo {
    height: 300px;
    border: 5px solid green;
    background-color: white;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
}

.main {
    border: 5px solid orange;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
   display: flex;
   flex-direction: column;
   height: 4em;
}

#search-icon {
    color: #9aa0a6;
    height: 24px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    display: flex;
    width: 40em;
    height: 3.3em
}

.search-bar > #search-box {
    width: 34em;
    height: 2em;
    border: none;
}

.middle-buttons {
    border: solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: min-content;
    width: 20em;
}

.footer {
    margin-top: auto;
    border: 5px solid magenta;
    background-color: lightslategrey;
    justify-content: center;
}
