.body-box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: arial, sans-serif;
    background-color: slategrey;
}
.nav-left {
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: green;
    text-decoration: none;
}
.nav-right {
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: red;
}
.nav-left1 {
    padding: 15px;
    color: #222;
}
.nav-left2 {
    padding: 15px;
    color: #222;
}
.nav-right1 {
    padding: 15px;
    color: #222;
}
.nav-right2 {
    padding: 15px;
    color: #222;
}