body {
    font-size: 14px;
    font-family: arial, sans-serif;
}
.nav-top {
    display: flex;
    align-items: center;
    padding: 6px;
}
a.nav-left {
    display: inline-block;
    padding: 5px;
    margin: 0px;
    color: #222;
    text-decoration: none;
    border-style: dotted;
}
a.nav-right {
    display: inline-block;
    padding: 5px;
    margin: 0px;
    color: #222;
    text-decoration: none;
    border-style: dotted;
}